* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav>div {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

nav > div > div{
    display: flex;
    align-items: center;
}

nav > div > div >  h3{
    font-size: 2rem;
}

nav>div>img {
    width: auto;
    height: 2rem;
}

.SpannedHead {
    color: rgb(9, 210, 240);
}

/* First Div Ended */
.Div2 > ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 2rem;
    font-size: 1.5rem;
}
.Div2 > ul > li{
    margin: 0.5rem;
}
.Div2 > ul > button {
    background-color: rgb(9, 210, 240);
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bolder;
}
/* Navbar Ended */
/* main Div */
.MainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5rem;
    background-color: rgb(247, 242, 242);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.MainDiv > h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.MainDiv > div{
    display: flex;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.MainDiv > div > p{
    font-weight: bolder;
    margin-right: 0.5rem;
}
.MainDiv > div > .SubPara{
    font-weight: 500;
}
/* Head and para ended */
/* Icons Started */
.IconsDiv{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 5rem;
}
.IconsDiv > div > i{
    color: rgb(9, 210, 240);
    background-color: rgb(241, 225, 225);
    padding: 1rem;
    border-radius: 50%;
    font-size: 4rem;
}
.IconsDiv > div{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
}
/* Icondiv ended */
.MainDiv > button {
    background-color: rgb(9, 210, 240);
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
}
.MainDiv > .BtnI{
    color: #fff;
    border: none;
    padding: none;
    background-color: rg(9,210,240);
}